profile                             = "pre-prod"
environment                         = "pre-prod"
project_name                        = "sendo-frontend"
github_pat                          = "<REDACTED_SET_VIA_ENV_OR_SECRET_MANAGER>"
next_public_eliza_server_auth_token = "<REDACTED>"
next_public_eliza_server_url        = "<REDACTED>"
next_public_privy_app_id            = "<REDACTED>"
privy_app_id                        = "<REDACTED>"
privy_app_secret                    = "<REDACTED>"
